*{  /*Сброс всех стилей */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Стиль заголовка */

.header {
    background-color: rgb(217, 63, 63);
    padding-top:  10px;
    text-align: center;
    color: aliceblue;
  }
   /* Стиль верхней панели навигации */
   .topnav {
    overflow: auto;
    background-color: #333;
  }
   /* Стиль верхних навигационных панелей */
   .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /*Решил немного по игратся*/
  a:visited{ /*Отображает ссылки на которые мы не находимся*/
    color: #04b5f0;
  }
  a:focus{ /*Отображает при нажатии*/
    color: #000;
  }
  a:link{/*Отображает на которой находимся*/
    color: #4CAF50; 
  }
a:hover{ /*Отображает  при наведение*/
    color: aqua;
  } 
  a:active{ /*Отображает  при нажатии*/
    color: #d561ea; 
  }
h2{
    color: red;
    text-align: center;
    padding: 20px;
  }
h1{
    padding: 10px;
  }
.container{
    margin: 0 auto;
    padding: 20px;
  
    border-radius: 10%;
 
    width: 400px;
    max-width: 100%;
    min-height: 200px;
    background: #04b5f0;

  }
p{
    display: inline-block;
    padding: 15px;
    
  }
 #form-email{
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
  }
#form-psw{
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
  }
#form-psw-2{
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}
.psw-shou{
    text-align: left;
}

button {
    background-color: #d561ea;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  /*------------------------------------------------------------------------------------------*/
.car-catalog{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.catalog{
    text-align: center;
    margin: 0 auto;
    
}
.form-select-container{
    margin: 0 auto;
    max-width: 50%;
    min-height: 50%;
    background: rgb(243, 243, 243);
}
.find-car{

    text-align: center;
   
    background-color:red ;
}   
.form-select{
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}
/*-------------------------------------------------------------------------------------------*/
.color{
    
    
   
}