@import url('./basic.css');

.container{
    max-width: 1340px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}



.navigation{

    margin-top: 20px;  
    display: flex;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    justify-content: flex-start;
}
.nav-right{
    display: flex;
    justify-content: flex-end;
}
.nav-centr{
    display: flex;
    justify-content: center;
   
}
.nav-link{
    margin-left: 40px;
}
.logo{
    height: auto;
}


.bg-card{
    font-family: "Inter";
    padding-left:  8px;
    padding-right:  8px;
    padding-top: 2px;
    background-color: #E7DED8; 
    text-align: center;
    font-size: 11px;
    margin-left: 8px;
}
/*---------------------------------------------------*/
.view-collection{
   background-image: url(../img/IMAGE.png);
   background-repeat: no-repeat;
   background-position: 100% 0%;


}
.section-title {
    display: flex;
    


  
    font-family: "Chines";
    font-size: 60px;
    max-width: 510px;   
}

.you{
    position: absolute;
    font-family: "Style-Script";
    color: var(--color-brown);
    font-size: 130px;
    transform: rotate(5.539deg);
    
}
.button{
    border: 1px solid #DACEC6;
    background-color: #F1EBE7;;
    text-align: center;
    font-family: "Inter";
    font-size: 14px;
    color: var(--color-brown);
    width: 100%;
    max-width: 150px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 50px;   
}
.child{
    position: absolute;
}
.img-natural-1{
    position: absolute;
    left: -319px;
    top: -143px;
}
.img-natural-2{
    position: absolute;
    top: 350px;
    left: -343px;
}

.img-natural-3{
    position: absolute;
    top: -228px;
    left: 700px;
}
.img-natural-4{
    position: absolute;
    top: 40px;
    left: 805px;
}
.img-natural-5{
    position: absolute;
    top: 400px;
    left: 700px;
    margin-bottom: 50px;

}

.text-main{
    max-width: 700px;
    margin-top: 240px;
}
.natural{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 70px;
    font-family: "Inter";
}
.skincare{
    color: var(--color-brown);
    font-family: "Style-Script";
    transform: rotate(-5.079deg);
    font-size: 137px;

}
.text{
    font-size: 14px;
    text-align: center;
    font-family: "Inter";
}
.shop-button{
    border-radius: 73px;
    border: 1px solid #DACEC6;
    background: #F1EBE7;    
    font-size: 14px;
    color: var(--color-brown);
    width: 100%;
    max-width: 95px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 47px;
}
/*--------------------------------------------*/
.krem{

    
}
/*----------------------------------------------*/

.products-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 90px;

}
.products{
    color: var(--color-brown);
    font-family: "Style-Script";
    font-size: 137px;
    max-width: 389px;

}
.skin{
    font-family: "Chines";
    text-align: center;
    font-size: 65px;
}
/*-----------------------------------------*/
.content{

    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: space-between;
    margin-top: 60px;
    

}
.product-card{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #E7DED8;
    flex-basis: calc(calc(100% / 4) - calc(120px/ 4));
    
}
.name-card{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}
.name{
    margin-left: 15px;
    margin-bottom: 41px;
}
.card-img{
    

}
.shop-now{
    border-radius: 5px;
    border: 1px solid #DACEC6;
    background: #F1EBE7; 
    width: 100%;
    max-width: 305px;
   
   padding-top:13px ;
   padding-bottom: 13px;
}
.krem-img{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
/*-----------------------------------------------------*/
.first-section{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 100px;
}
.card-img{
    max-width: 100%;
}
.text-main2{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.picture{
    height: calc(100% - 50px);
}
.feature{
    font-size: 137px;
    font-family: "Style-Script";
    color: var(--color-brown);
}
.innovation{
    font-size: 70px;
    font-family: "Chines";
}
.temporibus{
    font-size: 17px;
    text-align: center;
    max-width: 460px;
}
.read{
    max-width: 115px;
    text-align: center;
    padding-top:13px ;
    padding-bottom: 13px;
    padding-left: 21px;
    padding-right: 21px;
    margin: 0 auto;
    border: 1px solid #DACEC6;
    background: #F1EBE7;
    margin-top: 39px;
}
.generate{
    
    font-family: "Inter";
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-size: 28px;
    max-width: 832px;
    margin-top: 206px;
}
.generate-img{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 56px;
}
/*---------------------------------------------------*/
.img-girl{
    padding-top: 209px;
    display: flex;
   
    flex-direction: row;
    align-items: center; 
    flex-wrap: wrap;  
    justify-content: center;
    
}
/*--------------------------------------------------*/
.blog-title{
    text-align: center;
    font-size: 66px;
    font-family: "Chines";
    padding-top: 90px;
}
.blog{
  display: flex;
  align-items: baseline;
}
.img-blog-1{
    display: flex;
    margin-right: 50px;
    
}
.img-blog-2{
    display:flex;
}
.blog-text{
    max-width: 269px;
    margin-left: 30px;
    font-size: 28px;
    font-family: "Chines";
}
.flex-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap:1rem;

}
.read-more{
    border-radius: 59px;
    border: 1px solid #DACEC6;
    background: #F1EBE7;
    color: var(--color-brown);
    margin-left: 29px;
   
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 21px;
    padding-right: 21px;
}
/*-----------------------------------------------*/
.container-footer{
    margin-top: 127px;
   
    display: flex;
    background: #E7DED8;
    max-width: 1340px;
    border-radius: 10px;
    
}
.footer-section-main{
    display: flex;

    justify-content: space-between;
    gap: 50;
}
.section-footer-1{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    max-width: 188px;;
}
.text-footer{
    margin-top: 21px;
}
.text-footer-link{
    margin-top: 57px;
}
.link-footer{
    color: var( --color-brown);
}
.section-footer-2{
    margin-top: 50px;
   margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.pases-2{
    font-family: "Chines";
    font-size: 24px;
}
.footer-link-2{

    max-width: 250px;

}
.footer-link-2  ul{
    columns: 2;
}
.section-footer-3{
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}
.contact{
    font-family: "Chines";
    font-size: 27px;
}
.section-footer-4{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 50px;
}
.pages-4{
    font-family: "Chines";
    font-size: 28px;
}
.mesendj{
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}